.customers {
  width: 1170px;
  height: 372px;
  margin-left: 185px;
}

.customers-name {
  padding-top: 94px;
  margin-bottom: 50px;
  color: $main-text-color;
  font-size: 36px;
  font-weight: 700;
  line-height: calc(42 / 36);
  text-align: center;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.customers-item {
  width: 170px;
  height: 92px;
  box-sizing: border-box;
  border: 1px solid $third-text-color;
  border-radius: 4px;
}

.customers-item:is(:hover, :focus) {
  cursor: pointer;
  border-color: $logo-color;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.customers-item:is(:hover, :focus) .customers-svg {
  fill: $logo-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

  animation: tada;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

.customers-link {
  display: block;
}

.customers-svg {
  position: relative;
  fill: $third-text-color;
}

.customers-first-svg {
  width: 46px;
  height: 52.7px;
  left: 35%;
  top: 20%;
}

.customers-second-child {
  width: 48px;
  height: 60px;
  left: 35%;
  top: 15%;
}

.customers-third-child {
  width: 43.46px;
  height: 41.18px;
  left: 37%;
  top: 25%;
}

.customers-fourth-child {
  width: 124.44px;
  height: 80.62px;
  left: 15%;
  top: 10%;
}

.customers-fifth-child {
  width: 77.54px;
  height: 60.43px;
  left: 25%;
  top: 15%;
}

.customers-sixth-child {
  width: 153.79px;
  height: 103.93px;
  left: 7%;
}