.header {
  background-color: $main-background-color;
  border-bottom: 1px solid $second-text-color;

&-flex {
  display: flex;
  align-items: center;
}

&-logo {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
  width: 145px;

&-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: (calc(31 / 26));
}

&-logo:is(:hover, :focus),
.footer-logo:is(:hover, :focus) {
  animation: pulse;
  animation-duration: 1.5s;
  animation-iteration-count:infinite;
}

&-logo--start {
  color: $logo-color;
}

&-logo--end {
  color: $main-text-color;
}
}

&-nav {
  line-height: (calc(16 / 14));
  font-weight: 500;
}

&-list {
  display: flex;
}

&-item--active {
  position: relative;

&-item:is(:hover, :focus),
&-contact-item:is(:hover, :focus) {
  animation: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

&-item:is(:hover, :focus) .header-link {
  color: $logo-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

&-item:not(:last-child) {
  width: 42px;
  margin-right: 51px;
}

&-item:nth-child(2) {
  width: 69px;
  margin-right: 50px;
}

&-item:nth-child(3) {
  width: 62px;
}
}

&-link {
  position: relative;

  color: $main-text-color;

  padding: 10px 0px 32px;

  &-link::before {
  content: " ";
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;

  background-color: $logo-color;

  transform: scale(0);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

&-link:is(:hover, :focus) {
  transform: scale(1.25);
}

&-link:is(:hover, :focus)::before {
  transform: scale(1);
}

&-link--active {
  color: $logo-color;
}

&-link--active::after {
  content: " ";
  
  position: absolute;
  /* top: 28px; */
  bottom: 0;

  display: block;

  width: 100%;
  height: 4px;

  border-radius: 2px;

  background-color: $logo-color;
}
}

&-contact {
  font-weight: 500;
  line-height: (calc(16 / 14));
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

&-contact-item {
  display: flex;
  align-items: center;
  cursor: pointer;

  &-contact-item:is(:hover, :focus) .header-contact-link {
  color: $logo-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

&-contact-item:is(:hover, :focus) .header-contact-img {
  fill: $logo-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
}

&-contact-img {
  fill: $third-text-color;
}

&-contact-email-img {
  margin-right: 10px;
}

&-contact-mail {
  color: $third-text-color;
  margin-right: 30px;
}

&-contact-number {
  color: $third-text-color;
}
}

