.team {
  background-color: $team-background-color;
  height: 648px;
  margin: 0 auto;
  text-align: center;
}

.team-name {
  display: inline-block;
  margin-top: 94px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.team-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.team-item {
  width: 270px;
  height: 428px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: $main-background-color;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-figure {
  text-align: center;
}

.team-caption {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);

  margin-top: 30px;
}

.team-job {
  color: $third-text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(19 / 16);

  margin-top: 10px;
  margin-bottom: 20px;
}

.team-social-media-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-social-media-item,
.footer-social-media-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-social-media-item:is(:hover, :focus),
.footer-social-media-item:is(:hover, :focus) {
  background: $logo-color;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1); 

  animation: swing;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 150ms;
}

.team-social-media-item:is(:hover, :focus) .team-social-media-svg {
  fill: $main-background-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.team-social-media-link {
  width: 100%;
  height: 100%;
}

.team-social-media-svg,
.footer-social-media-svg {
  display: block;
  width: 20px;
  height: 20px;
  fill: $third-text-color;
}